In [1]:
import pandas as pd
import requests

In [2]:
r = requests.get('https://www.hockey-reference.com/').text
pd.read_html(r)[0]

,Eastern,W,L,OL,PTS,RW,RgRec,RgPt%
0,Atlantic,Atlantic,Atlantic,Atlantic,Atlantic,Atlantic,Atlantic,Atlantic
1,BOS*,65,12,5,135,54,54-12-16,.756
2,TOR*,50,21,11,111,42,42-21-19,.628
3,TBL*,46,30,6,98,38,38-30-14,.549
4,FLA*,42,32,8,92,36,36-32-14,.524
5,BUF,42,33,7,91,30,30-33-19,.482
6,OTT,39,35,8,86,31,31-35-16,.476
7,DET,35,37,10,80,28,28-37-17,.445
8,MTL,31,45,6,68,21,21-45-16,.354
9,Metropolitan,Metropolitan,Metropolitan,Metropolitan,Metropolitan,Metropolitan,Metropolitan,Metropolitan
10,CAR*,52,21,9,113,39,39-21-22,.610
11,NJD*,52,22,8,112,39,39-22-21,.604
12,NYR*,47,22,13,107,37,37-22-23,.591
13,NYI*,42,31,9,93,36,36-31-15,.530
14,PIT,40,31,11,91,31,31-31-20,.500
15,WSH,35,37,10,80,27,27-37-18,.439
16,PHI,31,38,13,75,26,26-38-18,.427
17,CBJ,25,48,9,59,15,15-48-19,.299