# Machine Learning

In this section, we will perform the machine learning aspect of our project which will include identifying business problem, data preprocessing, feature engineering, model building, and model tuning.

## Predicting Hockey Contracts

This problem requires two solutions utilizing machine learning techniques. <ol><li>Creating regression model to predict contract length.</li><li>Creating another regression model to predict annual salary of the contract.</li></ol>

# Predicting Contract Length

## Data Preprocesing

First, we must transform our data into machine learning format.

In [56]:
# Load data and libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [57]:
df = pd.read_csv('../Combined Contract and Player Data/Combined_data_non_null.csv')
df.head()

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,FOW,FOL,FO%,Contract Type,NHL Clause,Term,Total Value,AAV,Year,Month
0,2,Noel Acciari,31.0,TOT,C,77,14,9,23,-4,...,337.0,289.0,53.8,Stnd (UFA),0,3,6000000,2000000,2023,7
1,6,Sebastian Aho,25.0,CAR,F,75,36,31,67,8,...,531.0,503.0,51.4,Stnd (RFA),0,1,42295000,8460250,2023,7
2,9,Alexander Alexeyev,23.0,WSH,D,32,0,5,5,-2,...,0.0,0.0,0.0,Stnd (RFA),1,2,1650000,825000,2023,5
3,17,Jaret Anderson-Dolan,23.0,LAK,C,46,7,5,12,-11,...,23.0,16.0,59.0,Stnd (UFA),0,1,775000,775000,2023,7
4,19,Rasmus Andersson,26.0,CGY,D,79,11,38,49,5,...,0.0,0.0,0.0,Stnd (RFA),1,3,27300000,4550000,2023,1

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3040 entries, 0 to 3039
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rk             3040 non-null   int64
 1   Player         3040 non-null   object
 2   Age            3040 non-null   float64
 3   Tm             3040 non-null   object
 4   Pos            3040 non-null   object
 5   GP             3040 non-null   int64
 6   G              3040 non-null   int64
 7   A              3040 non-null   int64
 8   PTS            3040 non-null   int64
 9   +/-            3040 non-null   int64
 10  PIM            3040 non-null   int64
 11  PS             3040 non-null   float64
 12  EV             3040 non-null   int64
 13  PP             3040 non-null   int64
 14  SH             3040 non-null   int64
 15  GW             3040 non-null   int64
 16  EV.1           3040 non-null   int64
 17  PP.1           3040 non-null   int64
 18  SH.1           3040 non-null   int64
 19  S              3040 non-null   int64
 20  S%             3040 non-null   float64
 21  TOI            3040 non-null   int64
 22  ATOI           3040 non-null   int64
 23  BLK            3040 non-null   float64
 24  HIT            3040 non-null   int64
 25  FOW            3040 non-null   float64
 26  FOL            3040 non-null   float64
 27  FO%            3040 non-null   float64
 28  Contract Type  3040 non-null   object
 29  NHL Clause     3040 non-null   int64
 30  Term           3040 non-null   int64
 31  Total Value    3040 non-null   int64
 32  AAV            3040 non-null   int64
 33  Year           3040 non-null   int64
 34  Month          3040 non-null   int64
dtypes: float64(7), int64(24), object(4)
memory usage: 831.4+ KB

In [59]:
df.iloc[:, 19:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3040 entries, 0 to 3039
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   S              3040 non-null   int64
 1   S%             3040 non-null   float64
 2   TOI            3040 non-null   int64
 3   ATOI           3040 non-null   int64
 4   BLK            3040 non-null   float64
 5   HIT            3040 non-null   int64
 6   FOW            3040 non-null   float64
 7   FOL            3040 non-null   float64
 8   FO%            3040 non-null   float64
 9   Contract Type  3040 non-null   object
 10  NHL Clause     3040 non-null   int64
 11  Term           3040 non-null   int64
 12  Total Value    3040 non-null   int64
 13  AAV            3040 non-null   int64
 14  Year           3040 non-null   int64
 15  Month          3040 non-null   int64
dtypes: float64(5), int64(10), object(1)
memory usage: 380.1+ KB

In [60]:
# Remove useless variables
df = df.drop(columns=(['Rk', 'Player']))

# y = df.Term

We will build a model with all the variables and perform feature selection afterwards

In [61]:
df['Tm'].value_counts()

Tm
TOT    288
NYI    148
WSH    138
NSH    116
BUF    110
CGY    108
TBL    102
MIN    101
PIT    101
LAK    100
DAL     99
BOS     98
EDM     94
VAN     93
TOR     92
MTL     89
COL     86
FLA     84
DET     84
NYR     84
OTT     82
PHI     78
STL     76
NJD     69
CBJ     68
SJS     66
WPG     63
CHI     62
ANA     61
CAR     60
VEG     54
ARI     54
PHX     23
SEA      7
ATL      2
Name: count, dtype: int64

In [62]:
df = pd.get_dummies(df, columns=['Tm'], drop_first=True, dtype=int)
df.head()

,Age,Pos,GP,G,A,PTS,+/-,PIM,PS,EV,...,Tm_SEA,Tm_SJS,Tm_STL,Tm_TBL,Tm_TOR,Tm_TOT,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH
0,31.0,C,77,14,9,23,-4,21,1.5,14,...,0,0,0,0,0,1,0,0,0,0
1,25.0,F,75,36,31,67,8,42,8.2,26,...,0,0,0,0,0,0,0,0,0,0
2,23.0,D,32,0,5,5,-2,4,0.9,0,...,0,0,0,0,0,0,0,0,0,1
3,23.0,C,46,7,5,12,-11,2,0.6,7,...,0,0,0,0,0,0,0,0,0,0
4,26.0,D,79,11,38,49,5,26,8.0,9,...,0,0,0,0,0,0,0,0,0,0

In [63]:
df['Pos'].value_counts()

Pos
D    1121
C     955
W     940
F      24
Name: count, dtype: int64

In [64]:
df = pd.get_dummies(df, columns=['Pos'], drop_first=True, dtype=int)
df.head()

,Age,GP,G,A,PTS,+/-,PIM,PS,EV,PP,...,Tm_TBL,Tm_TOR,Tm_TOT,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_D,Pos_F,Pos_W
0,31.0,77,14,9,23,-4,21,1.5,14,0,...,0,0,1,0,0,0,0,0,0,0
1,25.0,75,36,31,67,8,42,8.2,26,7,...,0,0,0,0,0,0,0,0,1,0
2,23.0,32,0,5,5,-2,4,0.9,0,0,...,0,0,0,0,0,0,1,1,0,0
3,23.0,46,7,5,12,-11,2,0.6,7,0,...,0,0,0,0,0,0,0,0,0,0
4,26.0,79,11,38,49,5,26,8.0,9,1,...,0,0,0,0,0,0,0,1,0,0

In [65]:
df['Contract Type'].value_counts()

Contract Type
Stnd (RFA)    1538
Stnd (UFA)    1366
35+ (UFA)      136
Name: count, dtype: int64

In [66]:
df = pd.get_dummies(df, columns=['Contract Type'], drop_first=True, dtype=int)
df.head()

,Age,GP,G,A,PTS,+/-,PIM,PS,EV,PP,...,Tm_TOT,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_D,Pos_F,Pos_W,Contract Type_Stnd (RFA),Contract Type_Stnd (UFA)
0,31.0,77,14,9,23,-4,21,1.5,14,0,...,1,0,0,0,0,0,0,0,0,1
1,25.0,75,36,31,67,8,42,8.2,26,7,...,0,0,0,0,0,0,1,0,1,0
2,23.0,32,0,5,5,-2,4,0.9,0,0,...,0,0,0,0,1,1,0,0,1,0
3,23.0,46,7,5,12,-11,2,0.6,7,0,...,0,0,0,0,0,0,0,0,0,1
4,26.0,79,11,38,49,5,26,8.0,9,1,...,0,0,0,0,0,1,0,0,1,0

## Initial Model building

Now that all our variables are numerical, we can begin inputting our data into a model. We still need to split the data into train and test sets and scale.

In [67]:
# shuffle the samples
df = df.sample(n = len(df), random_state = 23)
df = df.reset_index(drop = True)
df

,Age,GP,G,A,PTS,+/-,PIM,PS,EV,PP,...,Tm_TOT,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_D,Pos_F,Pos_W,Contract Type_Stnd (RFA),Contract Type_Stnd (UFA)
0,22.0,68,16,28,44,28,30,4.7,14,1,...,0,0,0,0,0,0,0,0,1,0
1,31.0,82,15,35,50,3,75,4.8,12,3,...,1,0,0,0,0,0,0,0,1,0
2,27.0,65,1,12,13,5,18,0.2,1,0,...,1,0,0,0,0,0,0,0,0,1
3,35.0,45,17,20,37,1,6,4.6,11,6,...,0,0,0,0,0,0,0,0,0,0
4,23.0,70,22,27,49,-22,42,4.6,20,2,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,25.0,42,1,7,8,-4,14,1.3,1,0,...,0,0,0,0,0,1,0,0,1,0
3036,29.0,82,5,42,47,-4,40,6.3,3,2,...,0,0,0,0,0,1,0,0,0,1
3037,27.0,78,22,14,36,-19,71,3.3,16,3,...,0,0,0,0,0,0,0,0,1,0
3038,29.0,24,4,10,14,-7,0,0.8,2,2,...,0,0,0,0,0,0,0,1,1,0
3039,22.0,52,9,15,24,-7,11,2.0,9,0,...,0,0,0,0,0,0,0,1,1,0

In [68]:
# Save 30% of the data as validation and test data
df_valid_test=df.sample(frac=0.30,random_state=23)
print('Split size: %.3f'%(len(df_valid_test)/len(df)))

Split size: 0.300

In [69]:
df_test = df_valid_test.sample(frac = 0.5, random_state = 23)
df_valid = df_valid_test.drop(df_test.index)

In [70]:
# use the rest of the data as training data
df_train=df.drop(df_valid_test.index)

In [71]:
def calc_prevalence(y_actual):
    return (sum(y_actual)/len(y_actual))
    
print('Test prevalence(n = %d):%.3f'%(len(df_test),calc_prevalence(df_test.Term.values)))
print('Valid prevalence(n = %d):%.3f'%(len(df_valid),calc_prevalence(df_valid.Term.values)))
print('Train all prevalence(n = %d):%.3f'%(len(df_train_all), calc_prevalence(df_train.Term.values)))

Test prevalence(n = 456):2.268
Valid prevalence(n = 456):2.287
Train all prevalence(n = 2128):2.379

In [72]:
X_train = df_train.drop('Term', axis=1)
y_train = df_train['Term']
X_val = df_valid.drop('Term', axis=1)
y_val = df_valid['Term']

In [73]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_val = sc.transform(X_val)

### Linear Regression

In [74]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

In [75]:
from sklearn.metrics import mean_squared_error, r2_score

lr_mse = mean_squared_error(y_val, y_pred)
lr_r2 = r2_score(y_val, y_pred)

print(f'MSE: {lr_mse}')
print(f'R2: {lr_r2}')

MSE: 1.0794305046495476
R2: 0.6379045617317016

### SVM

In [98]:
from sklearn.svm import SVR

svr = SVR(C=50, gamma=0.005)
svr.fit(X_train, y_train)

y_pred = svr.predict(X_val)

In [99]:
svr_mse = mean_squared_error(y_val, y_pred)
svr_r2 = r2_score(y_val, y_pred)

print(f'MSE: {svr_mse}')
print(f'R2: {svr_r2}')

MSE: 0.7549350229494334
R2: 0.7467567140066024

### Random Forest

In [110]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=23, )
rf.fit(X_train, y_train)

y_pred = rf.predict(X_val)

In [111]:
rf_mse = mean_squared_error(y_val, y_pred)
rf_r2 = r2_score(y_val, y_pred)

print(f'MSE: {rf_mse}')
print(f'R2: {rf_r2}')

MSE: 0.7514730263157896
R2: 0.7479180423023499

### Gradient Boosting

In [114]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)

y_pred = gbr.predict(X_val)

In [115]:
gbr_mse = mean_squared_error(y_val, y_pred)
gbr_r2 = r2_score(y_val, y_pred)

print(f'MSE: {gbr_mse}')
print(f'R2: {gbr_r2}')

MSE: 0.754995996310291
R2: 0.7467362604658443