In [8]:
import requests, json
import pandas as pd
from bs4 import BeautifulSoup

mast_df = []
for year in range(2023,2009,-1):
    r = requests.get(f'https://www.hockey-reference.com/leagues/NHL_{year}_skaters.html').text
    df = pd.read_html(r)[0]
    new_columns = [x[1] for x in df.columns]
    df.columns = new_columns
    df['year'] = year
    mast_df.append(df)

mast_df = pd.concat(mast_df)
mast_df = mast_df[mast_df['Rk'] != 'Rk']
mast_df.reset_index(inplace=True, drop=True)
mast_df.to_csv('player_data.csv', index=False)
mast_df

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,year
0,1,Nicholas Abruzzese,23,TOR,C,2,0,2,2,1,...,2,0.0,18,8:59,0,1,0,0,NaN,2023
1,2,Noel Acciari,31,TOT,C,77,14,9,23,-4,...,102,13.7,1102,14:19,81,244,337,289,53.8,2023
2,2,Noel Acciari,31,STL,C,54,10,8,18,-6,...,74,13.5,787,14:35,55,168,275,239,53.5,2023
3,2,Noel Acciari,31,TOR,C,23,4,1,5,2,...,28,14.3,315,13:41,26,76,62,50,55.4,2023
4,3,Calen Addison,22,MIN,D,62,3,26,29,-17,...,77,3.9,999,16:07,38,19,0,0,NaN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,875,Greg Zanon,29,MIN,D,81,2,13,15,-10,...,59,3.4,1812,22:22,196,183,0,1,0.0,2010
1079,876,Henrik Zetterberg,29,DET,C,74,23,47,70,12,...,309,7.4,1485,20:04,34,44,536,543,49.7,2010
1080,877,Vladimir Zharkov,22,NJD,RW,40,0,10,10,2,...,54,0.0,458,11:26,6,22,1,3,25.0,2010
1081,878,Marek Židlický,32,MIN,D,78,6,37,43,-16,...,116,5.2,1885,24:10,128,80,0,0,NaN,2010
1082,879,Dainius Zubrus,31,NJD,RW,51,10,17,27,4,...,86,11.6,840,16:29,24,61,194,206,48.5,2010