In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

## Loading Datasets

In [18]:
Stats = pd.read_csv('../Player Data/player_data_non_null.csv')
Stats

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,year
0,1,Nicholas Abruzzese,23.0,TOR,C,2,0,2,2,1,...,2,0.0,18,539,0.0,1,0.0,0.0,0.0,2023
1,2,Noel Acciari,31.0,TOT,C,77,14,9,23,-4,...,102,13.7,1102,859,81.0,244,337.0,289.0,53.8,2023
2,3,Calen Addison,22.0,MIN,D,62,3,26,29,-17,...,77,3.9,999,967,38.0,19,0.0,0.0,0.0,2023
3,4,Egor Afanasyev,22.0,NSH,W,17,1,0,1,-7,...,21,4.8,184,651,13.0,23,0.0,0.0,0.0,2023
4,5,Andrew Agozzino,32.0,SJS,W,4,1,2,3,-1,...,9,11.1,65,982,4.0,12,1.0,0.0,100.0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12594,875,Greg Zanon,29.0,MIN,D,81,2,13,15,-10,...,59,3.4,1812,1342,196.0,183,0.0,1.0,0.0,2010
12595,876,Henrik Zetterberg,29.0,DET,C,74,23,47,70,12,...,309,7.4,1485,1204,34.0,44,536.0,543.0,49.7,2010
12596,877,Vladimir Zharkov,22.0,NJD,W,40,0,10,10,2,...,54,0.0,458,686,6.0,22,1.0,3.0,25.0,2010
12597,878,Marek Židlický,32.0,MIN,D,78,6,37,43,-16,...,116,5.2,1885,1450,128.0,80,0.0,0.0,0.0,2010
12598,879,Dainius Zubrus,31.0,NJD,W,51,10,17,27,4,...,86,11.6,840,989,24.0,61,194.0,206.0,48.5,2010

In [19]:
Contracts = pd.read_csv('../Contract Data/contract_data_non_null.csv')
Contracts

,Name,Age,Position,Team,Contract Type,NHL Clause,Term,Total Value,AAV,Year,Month
0,Alex Stalock,35,G,ANA,35+ (UFA),0,1,800000,800000,2023,8
1,Troy Terry,25,RW,ANA,Stnd (RFA),0,7,49000000,7000000,2023,8
2,Robert Hägg,28,LD,ANA,Stnd (UFA),0,1,775000,775000,2023,7
3,Radko Gudas,33,RD,ANA,Stnd (UFA),0,3,12000000,4000000,2023,7
4,Alex Killorn,33,"RW, LW",ANA,Stnd (UFA),0,4,25000000,6250000,2023,7
...,...,...,...,...,...,...,...,...,...,...,...
3633,Jim Slater,29,C,WPG,Stnd (UFA),1,3,4800000,1600000,2012,6
3634,Zach Bogosian,21,RD,WPG,Stnd (RFA),0,2,5000000,2500000,2011,9
3635,Kyle Wellwood,28,C,WPG,Stnd (UFA),0,1,700000,700000,2011,9
3636,Blake Wheeler,24,"RW, C",WPG,Stnd (RFA),0,2,5100000,2550000,2011,7
3637,Tanner Glass,27,LW,WPG,Stnd (UFA),0,1,750000,750000,2011,7

# Joins

Since Contracts contains a primary key of [`Name`, `Year`, `Month`] we will left_join Stats onto Contracts

In [22]:
df = pd.merge(Contracts, Stats, how='inner', left_on=['Name', 'Year'], right_on=['Player', 'year'])
df

,Name,Age_x,Position,Team,Contract Type,NHL Clause,Term,Total Value,AAV,Year,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,year
0,Troy Terry,25,RW,ANA,Stnd (RFA),0,7,49000000,7000000,2023,...,188,12.2,1356,1162,23.0,12,2.0,0.0,100.0,2023
1,Robert Hägg,28,LD,ANA,Stnd (UFA),0,1,775000,775000,2023,...,40,5.0,590,931,47.0,111,0.0,0.0,0.0,2023
2,Radko Gudas,33,RD,ANA,Stnd (UFA),0,3,12000000,4000000,2023,...,110,1.8,1250,1042,124.0,312,0.0,0.0,0.0,2023
3,Alex Killorn,33,"RW, LW",ANA,Stnd (UFA),0,4,25000000,6250000,2023,...,143,18.9,1411,1033,31.0,61,1.0,1.0,50.0,2023
4,Nathan Beaulieu,29,LD/RD,ANA,Stnd (UFA),0,1,850000,850000,2022,...,24,0.0,258,646,19.0,19,0.0,0.0,0.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2851,Jim Slater,29,C,WPG,Stnd (UFA),1,3,4800000,1600000,2012,...,118,11.0,1152,886,73.0,163,634.0,531.0,54.4,2012
2852,Zach Bogosian,21,RD,WPG,Stnd (RFA),0,2,5000000,2500000,2011,...,155,3.2,1591,1344,89.0,111,0.0,0.0,0.0,2011
2853,Kyle Wellwood,28,C,WPG,Stnd (UFA),0,1,700000,700000,2011,...,50,10.0,479,821,7.0,8,65.0,67.0,49.2,2011
2854,Blake Wheeler,24,"RW, C",WPG,Stnd (RFA),0,2,5100000,2550000,2011,...,179,10.1,1316,975,47.0,74,52.0,96.0,35.1,2011
2855,Tanner Glass,27,LW,WPG,Stnd (UFA),0,1,750000,750000,2011,...,45,6.7,652,536,29.0,130,25.0,37.0,40.3,2011

In [23]:
df['Name'].nunique()

1298

In [25]:
df.groupby(['Name', 'year']).size().sort_values(ascending=False)

Name               year
Ben Hutton         2021    2
Trevor Lewis       2021    2
Jordin Tootoo      2010    2
Cody Franson       2013    2
Mats Zuccarello    2013    2
                          ..
Mike Cammalleri    2010    1
Mike Brown         2014    1
Mikael Samuelsson  2012    1
Mikael Granlund    2021    1
Aaron Ekblad       2016    1
Length: 2843, dtype: int64

In [26]:
df[df['Name'] == 'Ben Hutton']

,Name,Age_x,Position,Team,Contract Type,NHL Clause,Term,Total Value,AAV,Year,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,year
17,Ben Hutton,27,LD,ANA,Stnd (UFA),0,1,950000,950000,2021,...,54,1.9,701,1108,39.0,44,0.0,0.0,0.0,2021
18,Ben Hutton,28,LD,VGK,Stnd (UFA),0,1,750000,750000,2021,...,54,1.9,701,1108,39.0,44,0.0,0.0,0.0,2021
1240,Ben Hutton,26,LD,LAK,Stnd (UFA),0,1,1500000,1500000,2019,...,114,4.4,1543,1341,102.0,55,0.0,0.0,0.0,2019
2582,Ben Hutton,24,LD,VAN,Stnd (RFA),1,2,5600000,2800000,2016,...,104,1.0,1491,1192,100.0,42,0.0,0.0,0.0,2016
2636,Ben Hutton,29,LD,VGK,Stnd (UFA),1,2,1700000,850000,2022,...,78,3.8,897,928,72.0,49,0.0,0.0,0.0,2022

In [28]:
df.groupby(['Name', 'year', 'Month']).size().sort_values(ascending=False)

Name               year  Month
Zemgus Girgensons  2023  6        1
Evander Kane       2022  1        1
Frank Corrado      2016  7        1
Francis Bouillon   2013  3        1
                   2012  7        1
                                 ..
Mike Fisher        2012  8        1
Mike Commodore     2011  7        1
Mike Cammalleri    2017  7        1
                   2014  7        1
Aaron Ekblad       2016  7        1
Length: 2856, dtype: int64

Our primary key remains intact