In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

## Loading Datasets

In [13]:
Stats = pd.read_csv('../Player Data/player_data_non_null.csv')
Stats

,Rk,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,...,S,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,year
0,1,Nicholas Abruzzese,23.0,TOR,C,2,0,2,2,1,...,2,0.0,18,539,0.0,1,0.0,0.0,0.0,2023
1,2,Noel Acciari,31.0,TOT,C,77,14,9,23,-4,...,102,13.7,1102,859,81.0,244,337.0,289.0,53.8,2023
2,3,Calen Addison,22.0,MIN,D,62,3,26,29,-17,...,77,3.9,999,967,38.0,19,0.0,0.0,0.0,2023
3,4,Egor Afanasyev,22.0,NSH,W,17,1,0,1,-7,...,21,4.8,184,651,13.0,23,0.0,0.0,0.0,2023
4,5,Andrew Agozzino,32.0,SJS,W,4,1,2,3,-1,...,9,11.1,65,982,4.0,12,1.0,0.0,100.0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12594,875,Greg Zanon,29.0,MIN,D,81,2,13,15,-10,...,59,3.4,1812,1342,196.0,183,0.0,1.0,0.0,2010
12595,876,Henrik Zetterberg,29.0,DET,C,74,23,47,70,12,...,309,7.4,1485,1204,34.0,44,536.0,543.0,49.7,2010
12596,877,Vladimir Zharkov,22.0,NJD,W,40,0,10,10,2,...,54,0.0,458,686,6.0,22,1.0,3.0,25.0,2010
12597,878,Marek Židlický,32.0,MIN,D,78,6,37,43,-16,...,116,5.2,1885,1450,128.0,80,0.0,0.0,0.0,2010
12598,879,Dainius Zubrus,31.0,NJD,W,51,10,17,27,4,...,86,11.6,840,989,24.0,61,194.0,206.0,48.5,2010

In [14]:
Contracts = pd.read_csv('../Contract Data/contracts.csv')
Contracts

,Name,Age,Position,Team,Contract Start Date,Contract Type,NHL Clause,Way Clause,Term,Total Value,AAV
0,Tristan Luneau,19,RD,ANA,"Sep. 5, 2023",ELC,NaN,2-way,3,"$2,850,000","$896,667"
1,Alex Stalock,35,G,ANA,"Aug. 7, 2023",35+ (UFA),NaN,1-way,1,"$800,000","$800,000"
2,Troy Terry,25,RW,ANA,"Aug. 2, 2023",Stnd (RFA),NaN,1-way,7,"$49,000,000","$7,000,000"
3,Noah Warren,18,RD,ANA,"Jul. 19, 2023",ELC,NaN,2-way,3,"$2,850,000","$896,667"
4,Lukas Dostal,23,G,ANA,"Jul. 16, 2023",Stnd (RFA),NaN,2-way,2,"$1,625,000","$812,500"
...,...,...,...,...,...,...,...,...,...,...,...
9105,Blake Wheeler,24,"RW, C",WPG,"Jul. 15, 2011",Stnd (RFA),NaN,1-way,2,"$5,100,000","$2,550,000"
9106,Brett Festerling,25,D,WPG,"Jul. 14, 2011",Stnd (RFA),NaN,2-way,1,"$577,500","$577,500"
9107,Derek Meech,27,D,WPG,"Jul. 1, 2011",Stnd (RFA),NaN,2-way,1,"$700,000","$700,000"
9108,Tanner Glass,27,LW,WPG,"Jul. 1, 2011",Stnd (UFA),NaN,1-way,1,"$750,000","$750,000"
9109,Chris Thorburn,23,"RW, LW",WPG,"Sep. 12, 2006",Stnd (RFA),NaN,2-way,1,"$450,000","$450,000"

### Cleaning of Contracts dataset